// app global css in SCSS form

.toolbar-logo {
  height: 35px;
  margin: 10px 10px 10px 10px;
  padding: 2px;
  background-size: contain;
}



.mainmenu-item {
  width: 300px;
  max-width: 300px;

}

.page-std-width {
  max-width: 800px;
}
