// src/css/quasar.variables.scss

$primary: #242424;
$secondary: #26a69a;
$accent: #999999;

$dark: #3a3a3a;
$dark-page: #242424;

$positive: #21ba45;
$negative: #c10015;
$info: #69aaff;
$warning: #f28c38;
