// src/css/quasar.variables.scss

$primary: #383535;
$secondary: #197e74;
$accent: #715fcc;

$dark: #3a3a3a;
$dark-page: #242424;

$positive: #29843f;
$negative: #a71e2e;
$info: #69aaff;
$warning: #ff7f44;
